OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini

MS_TENANT_ID=
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_REFRESH_TOKEN=

TEAMS_TARGET_TYPE=chat
TEAMS_CHAT_ID=19:0e02d613cded448892f27d74cff19d63@thread.v2
TEAMS_TEAM_ID=85f93dd1-97df-43b4-88c2-a156e57b5223
TEAMS_CHANNEL_ID=19:ae875099856a42569438d9c056e1294f@thread.tacv2
